@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  .h1 {
    @apply text-[42px] xl:text-[62px] leading-[1.1] font-semibold
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff
  }


  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thumb-accent::-webkit-scrollbar-thumb {
    background-color: #00ff99;
    border-radius: 10px;
  }

  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #00ff99;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* Para navegadores que no soportan -webkit-scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: #00ff99 transparent;
  }

}